body {
    background: #333;
    padding: 0;
    margin: 0;
    overflow:hidden;
}

.game-container {
    position: relative;
    width: 600px;
    height: 800px;
    margin: 0 auto;
    margin-top: 20px;
    outline: none
}