body {
    background: #333;
    padding: 0;
}

.game-container {
    position: relative;
    width: 600px;
    height: 900px;
    margin: 0 auto;
    margin-top: 20px;
    outline: none
}

.ui-canvas {
    background-color: blanchedalmond;
    margin: 0 auto;
    outline: none;
}