body {
    background: #333;
    padding: 0;
}

.game-container {
    position: relative;
    width: 600px;
    height: 800px;
    margin: 0 auto;
    /* margin-top: 20px; */
    outline: none;
    font-size: 0;
}


.ui-canvas {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    background-color: blanchedalmond;
    width: 600px;
    height: 80px;
}

.ui-canvas-phase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: blanchedalmond;
    width: 600px;
    height: 55px;
}

.menus {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    align-items: center;
}

.menu-button {
    margin-left: auto;
    margin-right: 5px;
    height: 90%;
    width: 50%;
    font-size: 16px;
}

.portrait {
    width: 70px;
    height: 70px;
    margin: 5px;
}

.unit-stats{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 5px;
    vertical-align: middle;
}

.unit-stat{
    font-size: 16px;
}