body {
    background: #333;
    padding: 0;
}

.game-container {
    position: relative;
    width: 600px;
    height: 900px;
    margin: 0 auto;
    margin-top: 20px;
    outline: none
}

.ui-canvas {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    background-color: blanchedalmond;
    width: 600px;
    height: 100px;
}

.portrait {
    margin: 5px;
}

.unit-stats{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 5px;
    vertical-align: middle;
}

.unit-stat{
    font-size: 18px;
}